.brand-logo {
    height: 40px;
    width: auto;
    border-radius: 5px; 
  }


  .navbar-brand {
  display: flex;
  align-items: center; /* Vertically center the logo */
  max-height: 60px; /* Match the height constraint for consistency */
  overflow: visible;
}

.navbar-brand img {
  width: 75px; /* Adjust width as needed */
  height: auto; /* Maintain aspect ratio */
  max-height: 40; /* Limit height to fit within the navbar */
}



.navbar {
  background-image: linear-gradient(to left, var(--primary-color) 0%, #80d0c7 50%);
  position: sticky; 
  top: 0; 
  z-index: 1000; 
  transition: background-color 0.5s ease, background-image 0.5s ease; 
}


.navbar.scrolled {
  background-color: var(--secondary-color); 
  background-image: none; 
}


@media (max-width: 768px) {
  .navbar {
    background-color: var(--secondary-color);
    background-image: none;
  }
}