.brand-logo {
    height: 40px; 
    width: auto;
    border-radius: 5px; 
  }


.navbar {
  background-image: linear-gradient(to left, var(--primary-color) 0%, #80d0c7 50%);
  position: sticky; /* Makes it sticky */
  top: 0; /* Sticks to the top of the viewport */
  z-index: 1000; /* Ensures it's above other elements */
}

.navbar {
  background-image: linear-gradient(to left, var(--primary-color) 0%, #80d0c7 50%);
  position: sticky; /* Makes it sticky */
  top: 0; /* Sticks to the top of the viewport */
  z-index: 1000; /* Ensures it's above other elements */
  transition: background-color 0.5s ease, background-image 0.5s ease; /* Smooth transition */
}

/* Change navbar background on scroll */
.navbar.scrolled {
  background-color: var(--secondary-color); /* New background color on scroll */
  background-image: none; /* Remove gradient if needed */
}



@media (max-width: 768px) {
  .navbar {
    background-color: var(--secondary-color); /* Always secondary color for mobile */
    background-image: none; /* No gradient on mobile */
  }
}